*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: radial-gradient(circle, #1f1c2c,#928dab);
    color: white;
}

#gameContainer{
  text-align: center;
  padding: 30px;
  background-color: rgba(0,0,0,0.75);
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.5);
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s;
}

#gameContainer:hover{
  transform: scale(1.02);
}

#gameContainer h2{
  font-size: 2em;
  color: #f39c12;
  margin-bottom: 10px;
}
#gameContainer p{
  margin-bottom: 7px;
}
select,
input[type="number"]{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  font-size: 1em;
  background-color: #333;
  color: #ecf0f1;
  border: 2px solid #444;
  text-align: center;
  transition: border-color 0.3s ease;
}
select:focus,
input[type="number"]:focus{
  outline: none;
  border-color: #3498db;
}
#message{
  font-size: 1.2em;
  margin-top: 8px;
  color: #f1c40f;
  line-height: 1.5;
}
#startGameButton{
 display: none;
 margin-top: 10px;
 padding: 10px 20px;
 border: none;
 border-radius: 8px;
 background-color: #3498db;
 color: white;
 font-size: 1.2em;
 cursor: pointer;
 transition: all 0.3s ease;
/* margin: auto;*/
}
#startGameButton:hover{
  background-color: #2980b9;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  #gameContainer{
    padding: 15px;
  }
}

@media (max-width: 400px) {
  #gameContainer{
    padding: 10px;
    width: 90%;
    margin: 0 auto;
  }
  #startGameButton{
    margin-bottom: 8px;
  }
}